body {
    color: white;
    background: rgb(136, 135, 135);
}
header {
    border-bottom: solid 2px rgb(10, 10, 10);
    padding: 10px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
section {
    background: rgb(136, 135, 135);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
